.App {
  margin-top: 10vh;
}

header {
  z-index: 10;
  position: fixed;
  background-color: black;
  height: 10vh;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 100px;
  align-items: center;
  font-size: medium;
}

a {
  color: white;
  text-decoration: none; 
}

.section-links:hover {
  text-decoration: underline;
  opacity: .5;
}

.right-header {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  margin-right: 100px;
}

.github-header {
  margin-right: 10px;
}

.github-header:hover {
  text-decoration: underline;
  opacity: .5;
}

.linkedin-header {
  margin-left: 10px;
  margin-right: 10px;
}

.linkedin-header:hover {
  text-decoration: underline;
  opacity: .5;
}

.gmail-header {
  margin-left: 10px;
}

.gmail-header:hover {
  text-decoration: underline;
  opacity: .5;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: black;
  height: 90vh;
  width: 100vw;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100vw;
}

.about-me2 {
  width: 80%;
}

.skills {
  display: flex;
  align-items: center;
  text-align: center;
  right: 0;
  height: 90vh;
  width: 100vw;
}

.skills-title {
  display: flex;
  justify-content: center;
  background-color: rgb(79, 5, 110);
}

.skills-logos {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  gap: 100px;
  background-color: rgb(79, 5, 110);
  width: 100vw;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  height: 90vh;
  width: 100vw;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  height: 90vh;
  width: 100vw;
}

.contact-div {
  line-height: 100px;
}

.contact-form {
  display: inline-flex;
  gap: 60px;
}

img {
  height: 40vh;
  width: 30vw;
  padding: 10px;
}

h1 {
  font-size: 3em;
}

span {
  color: rgb(79, 5, 110);
  margin-left: 0px;
  margin-right: 0px;
}


@media all and (max-width: 1600px) {
  .left-header {
    display: inline-flex;
    align-content: center;
    gap: 20px;
  }
}

@media all and (max-width: 900px) {

}