.App {
  margin-top: 10vh;
}

header {
  z-index: 10;
  position: fixed;
  background-color: black;
  height: 10vh;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.right-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

img {
  height: 40vh;
  width: 30vw;
  padding: 10px;
}